.line{
    float: left;
    width: 100%;
}
.horizontal{
    float: left;
    position: relative;
}
.piece {
    position: relative;
    border-radius: 50%;
    z-index: 3;
    text-align: center;
    font-size: 8px;
}
.piece-click {
    opacity: 1;
}
.sun{
    opacity: 0;
}
/* click棋子后  */
/* hover css 应该失效  可通过替换class 实现 */
/* 棋子在上方浮现  透明度0.5 */
.sun:hover{
    background-color: gray;
    opacity: 0.5;
}

/*===================================*/

*{
    margin: 0px;
    padding: 0px;
    font-family: "WenQuanYi Micro Hei Mono", "WenQuanYi Micro Hei", "Microsoft Yahei Mono", "Microsoft Yahei", sans-serif, Simsun;
}
body{
    min-width: 900px;
    height: auto;
    background-color: #F0F0F0;
}
.head{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    color: #5FB878;
}
.centent{
    width: 600px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;;
}
.gameBackground{
    min-width: 568px;
    min-height: 568px;
    background-color: #FFE294;
    margin-left: 5px;
    margin-right: 5px;
}
.game{
    z-index:1;
    margin:0 auto;
    position: relative;
}
.muens {
    position: absolute;
    left: 0px;
    top:200px;
    width: 200px;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 3px;
    padding-bottom: 20px;
    border: 1px solid #c2c2c2;
}
.muens ul{
    width: 150px;
    height: auto;
    margin: 0 auto;
    margin-top: 5px;
}
.muens li{
    list-style-type:none;
    margin: 0 auto;
    margin-bottom: 8px;
    color: azure;
    width: 140px;
    line-height: 40px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.muens li:hover{
    width: 150px;
    height: 45px;
    line-height: 45px;
}
.muens select {
    width: 180px;
    font-size: 17px;
    font-weight:bold;
    color: #393D49;
    margin: 0 auto;
    margin-top:5px ;
    border-radius: 3px;
}

.muens option{
    font-size: 17px;
    font-weight:bold;
}

.muens select:hover {
    border:1px solid #01AAED;
    background-color: #f2f2f2;
}



.setting{
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    min-height: 700px;;
    height: 100%;
    background-color: #c2c2c2;
    background-size: cover;
    opacity:0.9;
    z-index:5;
    display: none;
}
.setting table{
    min-width: 200px;
    margin: 0 auto;
    margin-top: 100px;
    border-collapse: collapse;
    border: 1px solid #2F4056;
    font-size: 18px;
}
.setting tr{
    border: 1px solid #2F4056;
}
.setting td {
    border: 1px solid #2F4056;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.setting input {
    width: 90px;
    line-height: 30px;
    height: 20px;
    margin: 0 auto;
}
.setting a{
    text-decoration:none;
    display:inline-block;
    margin-top: 30px;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #009688;
    font-size: 18px;
    border-radius: 5px;
    color: #F0F0F0;
}
.state{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 50px;
}
.state p{
    text-align: center;
    color: #1E9FFF;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
}
.bottom{
    margin-top: 5px;
    width: 100%;
    height: 120px;
}
.bottom p{
    text-align: center;
    color: #2F4056;
    font-size: 18px;
    line-height: 40px;
}